@screen-xs:                   320px;
@screen-sm:                   768px;
@screen-md:                   1200px;


@text-color:                  #000;

@font-family:                 'Open Sans_my', sans-serif;
@font-size:                   14px;


@orange:#ff7435;
@green:#0ab89d;
@gray-lightest:#f6f6f6;
@gray-lighter:#838383;
@gray-main:#929292;
@gray-darker:#4c4c4c;
@gray-diff:#191919;
@gray-darkest:#1c1c1c;

@white:#fff;
@white-07:rgba(255,255,255,0.7);