.booking-form {

  // STEP 1 DATA

  &__data-inner {
    text-align: center;
  }

  &__data-check-inout {
    color: @gray-darker;
  }

  &__data-title {
    padding-top: 10px;
    font-family: sans-serif;
    text-transform: uppercase;
  }

  &__data-check-inout input[type=number]{
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
  }
}

  @media (min-width: 768px) {

    .booking-form {

    &__data-check-inout {
      display: inline-block;
      margin-right: 20px;
    }

    &__data-check-inout:last-child {
      margin-right: 0;
    }
}
  @media (min-width: 1200px) {

    .booking-form {

    &__data-check-inout {
      background-color: #fff;
      padding: 0 20px;
      padding-bottom: 50px;
    }
  }
}}

// STEP 2 PLACE

.booking-form {
  &__place {
    text-align: center;
    width: 310px;
    margin: 0 auto;
    border: 1px solid #ebebeb;
  }

  &__place label {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }

  &__place input[type=radio] {
    display: none;
  }
}

// STEP 3 COTTAGE-TYPE

.booking-form {

  &__cottage-type {
    text-align: center;
    background-color: #fff;
  }

  &__cottage-type label {
    display: block;
    width: 100%;
    position: relative;
    // border: 1px solid red;

    padding: 40px 0;
  }

  &__cottage-type label:before {
    position: absolute;
    display: inline-block;
    content: "";

    width: 13px;
    height: 8px;
    left: 120px;
    transform: rotate(-45deg);

    border-left: 5px solid @green;
    border-bottom: 5px solid @green;

  }

  &__cottage-type input[type=radio] {
    display: none;
  }

  &__cottage-type-description-icons {
    display: none;
  }
}

// STEP 4 PERSONAL-INFO

.booking-form {

  &__personal-info-inner {
    margin: 0 25px;
  }

  &__personal-info-inner input {
    width: 100%;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  &__personal-info-inner input[type="text"] {
    margin-bottom: 20px;
  }

  &__personal-info-inner label {
    margin-bottom: 20px;
    color: red;
  }
}

//  STEP 5 PAYMENT
  .booking-form {

    &__payment-way-item {
      background-color: #fff;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    &__payment-way-item input[type=radio] {
      display: none;
    }

    &__payment-way-item label {
      cursor: pointer;
      display: block;
      margin-bottom: 20px;
    }

    &__payment-way-item label input {
      display: block;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      margin-top: 10px;
      padding: 20px;
    }

    &__payment-way-item p {
      display: none;
    }

    &__payment-total {
      background-color: #fff;
    }
  }

// TOTAL
  .booking-form {

    &__payment-total-title {
      text-align: center;
      text-transform: uppercase;
    }

    &__payment-total-txt {
      text-align: left;
    }

    &__payment-total-txt a {
      text-decoration: none;
      border-bottom: 1px dashed black;
    }
  }

@media (min-width: 768px) {

  .booking-form {
    &__cottage-type label {
      display: inline-block;
      width: 20%;
    }
  }
}