.btn {
  display: inline-block;
  // display: none;
  padding: 7px 18px;
  text-decoration: none;

  &--bg-orange {
    background-color: @orange;
    color: #fff;
    border-radius: 15px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: normal;
  }

  &--bg-green {
    border: 2px solid #fff;
    background-color: @green;
    color: #fff;
    text-transform: uppercase;
    border-radius: 35px;
  }

  &--dashed {
    color: #191919;
    border-bottom: 1px dashed black;
  }

  &__hidden {
    display: none;
}
}